@let currencies = (currencies$ | async);
<div class="container">
  @if (currencies) {
  <div>
    <app-currency-value-form
      [currencies]="currencies"
      (formChanged)="onFromFormChange($event)"
    ></app-currency-value-form>
  </div>
  <div>
    <app-currency-value-form
      [currencies]="currencies"
      [convertedCurrency]="(toConvertedCurrency$ | async)!"
      (formChanged)="onToFormChange($event)"
    ></app-currency-value-form>
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  }
</div>
